{
  "printWidth": 140,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "trailingComma": "none",
  "quoteProps": "consistent",
  "arrowParens": "always",
  "overrides": [
    {
      "files": "package*.json",
      "options": {
        "printWidth": 1000
      }
    },
    {
      "files": "angular.json",
      "options": {
        "printWidth": 80
      }
    }
  ]
}
